body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
   padding: 30px;
}

.button-class {
    border: none;
    width: 200px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #ed6262;
    color: black;
    border: 2px solid #ed6262;
    text-transform: capitalize;
  }



.modal-close {
    float: right;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.icon {
height: 30px;
width: 30px;
}

.btn-primary{
    background-color: #ed6262;
    border: none;
}