* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "PocketMonk";
  src: local("PocketMonk-15ze.ttf");
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #FB1B1B;
}

h1.header {
   padding: 30px;
   color: #ffcb05;
   -webkit-text-stroke: 6px #003A70;
   font-size: 120px;
   letter-spacing: 2px;
   text-align: center;
   font-family: "PocketMonk";
   background-color: #3D7DCA;
   width: 100%;
}

.button-class {
    border: none;
    width: 300px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #ffcb05;
    color: black;
    border: 2px solid #fff;
    text-transform: capitalize;
  }

  .button-class:hover{
    background-color:  #c7a008;
    border: 2px solid #3c5aa6;
  }

.modal-close {
    float: right;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.icon {
height: 30px;
width: 30px;
}

.modal-title{
  padding: 30px;
  color: #ffcb05;
  -webkit-text-stroke: 4px #003A70;
  font-size: 70px;
  letter-spacing: 2px;
  font-family: "PocketMonk";
  width: 100%;
  text-align: center;
}

.modal-header{
  background-color: #3D7DCA;
}

img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pokemon-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

.list-group-item{
  border: none;
  background-color: #FB1B1B;
}

@media all and (max-width: 700px) {
  .pokemon-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  h1.header {
    font-size: 90px;
  }
}

@media all and (min-width: 700px) and (max-width: 1200px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1500px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 10px;
  }
}

@media all and (min-width: 1500px){
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}



